<?xml version="1.0" encoding="UTF-8"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:type="MailApp">
  <Id>f8ce8d92-0c75-429b-a77d-ec8699a9f93c</Id>
  <Version>1.0.0.2</Version>
  <ProviderName>Pete Skelly</ProviderName>
  <DefaultLocale>en-US</DefaultLocale>
  <DisplayName DefaultValue="Candidate Manager Angular2"/>
  <Description DefaultValue="Sample learning app"/>
  <IconUrl DefaultValue="https://localhost:3433/images/mortarboard.png"/>
  <Hosts>
    <Host Name="Mailbox"/>
  </Hosts>
  <Requirements>
    <Sets DefaultMinVersion="1.1">
      <Set Name="Mailbox" MinVersion="1.1"/>
    </Sets>
  </Requirements>
  <FormSettings>
    <Form xsi:type="ItemRead">
      <DesktopSettings>
        <SourceLocation DefaultValue="https://localhost:3433/"/>
        <RequestedHeight>225</RequestedHeight>
      </DesktopSettings>
    </Form>
  </FormSettings>
  <Permissions>ReadItem</Permissions>
    <Rule xsi:type="RuleCollection" Mode="And">
        <Rule xsi:type="ItemHasAttachment" />
        <Rule xsi:type="RuleCollection" Mode="And">
            <Rule xsi:type="ItemIs"
                        ItemType="Message"
                        FormType="Read"/>
            <Rule xsi:type="ItemHasKnownEntity"
                        EntityType="EmailAddress"/>
            <Rule xsi:type="RuleCollection" Mode="And">
                <Rule xsi:type="ItemHasRegularExpressionMatch" 
                    RegExName="CandidateName" 
                    RegExValue="Candidate Name" 
                    PropertyName="BodyAsHTML" />
                <Rule xsi:type="ItemHasRegularExpressionMatch" 
                    RegExName="CandidateRate" 
                    RegExValue="Desired Salary" 
                    PropertyName="BodyAsHTML" />
            </Rule>
        </Rule>
    </Rule>

  <DisableEntityHighlighting>false</DisableEntityHighlighting>
</OfficeApp>
